@model ConferenceManagementSystem.Models.Content

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools bdesk_photo"
        ],
        toolbar1: "bdesk_photo undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });
</script>

<h2 class="not-login">Create<small></small></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-center form-gradient">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NewInfo, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.NewInfo)
                @Html.ValidationMessageFor(model => model.NewInfo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WelcomeTitle, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.WelcomeTitle)
                @Html.ValidationMessageFor(model => model.WelcomeTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WelcomeText, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.WelcomeText)
                @Html.ValidationMessageFor(model => model.WelcomeText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Organizer, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Organizer)
                @Html.ValidationMessageFor(model => model.Organizer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Accomodation, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Accomodation)
                @Html.ValidationMessageFor(model => model.Accomodation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Committee, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Committee)
                @Html.ValidationMessageFor(model => model.Committee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CallForPapers, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.CallForPapers)
                @Html.ValidationMessageFor(model => model.CallForPapers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Programmes, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Programmes)
                @Html.ValidationMessageFor(model => model.Programmes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Create" class="btn btn-default btn-new" />
            </div>
        </div>
        <hr/>
    </div>
}

<div class="col-md-offset-2">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-gradient"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
