@model IEnumerable<ConferenceManagementSystem.Models.Paper>

@{
    ViewBag.Title = "PaperDetail";
    Layout = "~/Views/Shared/AttendeeLayout.cshtml";
}

<script src="http://cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">

<h2>PaperDetail</h2>


<table id="myDataTable">
    <thead>
        <tr>
            <th>
                Paper Prefix
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.topic.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbstractFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullPaperFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CameraReadyPaperFile)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.topic.Name)
                </td>
                @if (item.AbstractFile != null)
                {
                    <td>
                        @Html.ActionLink("Abstract Paper", "DownloadFile", new { filename = item.AbstractFile, paperPrefix = item.conference.PaperPrefix }, null)
                    </td>
                }
                else
                {
                    <td>
                        No Paper
                    </td>
                }
                @if (item.FullPaperFile != null)
                {
                    <td>
                        @Html.ActionLink("Full Paper", "DownloadFile", new { filename = item.FullPaperFile, paperPrefix = item.conference.PaperPrefix }, null)
                    </td>
                }
                else
                {
                    <td>
                        No Paper
                    </td>
                }
                @if (item.CameraReadyPaperFile != null)
                {
                    <td>
                        @Html.ActionLink("Camera Ready Paper", "DownloadFile", new { filename = item.CameraReadyPaperFile, paperPrefix = item.conference.PaperPrefix }, null)
                    </td>
                }
                else
                {
                    <td>
                        No Paper
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, 100], [20, 50, 100]],
            "pagingType": "full_numbers",
            "language": {
                "emptyTable": "No record found!",
                "infoEmpty": "No entries to show"
            },
            "columnDefs": [
                //{ "orderable": false, "targets": [2, 10] }
            ],
            "fnDrawCallback": function (oSettings) {
                var pgr = $(oSettings.nTableWrapper).find('.dataTables_paginate')

                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    pgr.hide()
                } else {
                    pgr.show()
                }
            },
            "sDom": 'Tfrtip',
            "oTableTools": {
                sSwfPath: "http://cdn.datatables.net/tabletools/2.2.3/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    {
                        "bFooter": false,
                        "sExtends": "csv",
                        "sButtonText": "Export to CSV",
                        "mColumns": [0, 1, 2, 3],
                    },
                    {
                        "bFooter": false,
                        "sExtends": "pdf",
                        "sButtonText": "Save as PDF",
                        "mColumns": [0, 1, 2, 3],
                    },
                    {
                        "bFooter": false,
                        "sExtends": "copy",
                        "sButtonText": "Copy to clipboard",
                        "mColumns": [0, 1, 2, 3],
                    },
                    'print'
                ]
            }
        });
        $('.dataTables_filter input').attr("placeholder", "Enter search term here");

    });
</script>