@model IEnumerable<ConferenceManagementSystem.Models.Attendee>

@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/AttendeeLayout.cshtml";
}

<h2>Status</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usertype.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fee.Category)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usertype.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fee.Category)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AttendeeId })
            </td>
        </tr>

    }


</table>